
body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #fdffcc;
}

h1{
    font-size: 14px;
    font-variant: small-caps;
    color: #ff0084;
    background-color: #00b7ff;
}
